@import "default/mixins";
@import "default/variables";
/*=================================
  card styling starts here
=================================*/ 
.card{
    padding: 58px;
    @include heading-width(17%);
    &-list{
      padding-top: 60px;
        @include flex-gap(20px);
        li{
          padding: 0;
          @include flex-dir(column);
        }
    }
.info{
  h4{
    font-size: 25px;
  }
}
}
 /*=================================
  card styling ends here
=================================*/ 