@import "default/mixins";
@import "default/variables";
/*=================================
  offer styling starts here
=================================*/ 
.offer{
    @include heading-width(18%);
    padding-bottom: 50px;
 &-list
 {
    display: flex;
    & li{
        padding: 42px 20px 35px;
        margin-top: 60px;
    }
    & h3{
        font-size: 30px;
        margin-bottom: 26px;
    }

    & p{
        font-size: 19px;
        line-height: 24px;
    }

}
}
.offer1{
    background-color:#f1f1f1;
}
.offer2{
    background-color:#bbbbbb;
}
.offer3{
    background-color:#616161;
    color: #fff;
}
.offer4{
    background-color:#000000;
    color: #fff;
}

 /*=================================
  offer styling ends here
=================================*/ 
